* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(25, 89, 53);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h2 {
  text-align: center;
}
.click-btn {
  background: rgba(255, 255, 255, 0.191);
  padding: 0.6rem 2rem;
  cursor: pointer;
  border: none;
  font-size: 18px;
  margin: 0 auto;
  display: block;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.input-group-container {
  margin: 1rem 0;
}
.input-group {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 10px;
  align-items: center;
  position: relative;
}
.input-group span {
  position: absolute;
  right: 64%;
  background-color: #c0c0c0;
  padding: 5px 10px;
  cursor: default;
}
.lable {
  text-align: center;
  display: block;
}
.input-code {
  font-size: 1rem;
  width: 150px;
  text-align: center;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.191);
  color: #000;
}
.input-code:focus {
  border: none;
  outline: none;
}
.input-code2 {
  font-size: 1rem;
  width: 250px;
  text-align: center;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.191);
  color: #000;
}
.input-code2:focus {
  border: none;
  outline: none;
}
.copy-btn {
  font-size: 1.1rem;
  text-align: center;
  padding: 5px 20px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.191);
  color: #000;
  cursor: pointer;
  border: none;
}
/* =================== Toast Message ============================= */

.toast-container {
  background-color: #ffffff49;
  box-shadow: 0px 0px 30px -10px #252525;
  position: absolute;
  border-radius: 10px;
  top: 2rem;
  right: 2rem;
  padding: 1rem 2rem;
}
.toast-animation-slide-in {
  animation: slide-in 0.5s ease-in;
}
.toast-animation-slide-out {
  animation: slide-out 0.5s ease-in;
}
@keyframes slide-in {
  from {
    top: -100px;
  }
  to {
    top: 2rem;
  }
}
@keyframes slide-out {
  from {
    top: 2rem;
  }
  to {
    top: -50px;
  }
}
